@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

body {
  -webkit-font-smoothing: antialiased;
  font: 100%/1 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 0;
  padding: 2rem;
  text-rendering: geometricPrecision;
}

h1 {
  margin: 0;
}

#birthdays {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  white-space: nowrap;
}
#birthdays > div {
  background: #f9fafb;
  border-radius: 4px;
  font-size: 14px;
  padding: 3px 8px;
}
